# OS
.DS_Store
**/.DS_Store

# Secrets (CRITICAL)
*.pem
*.key
*.p12
*.tfvars
kubernetes/apps/secrets.yaml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log

# Terraform Vars
*.tfvars
